<% scope ||= nil %>
<dl id="terrain_dimension_input_<%=@record.id-%>">
  <dt>
    <label for="<%= "record_#{column.name}" %>">
      <%= column.label %>
    </label>
  </dt>
  <dd>
    <%= form_column column, scope %> X <%= form_column(active_scaffold_config.columns[:dimension_y], scope) %>
  </dd>
</dl>
