<div id="content-t">
	<%= t(:signup) %>
</div>
<div id="signup">
  <%= error_messages_for 'user' -%>
	<%= form_for :user, @user, :url => { :action => 'signup' } do |f| -%>
    <ul>
		  <li>
			  <%= f.label :login, t(:login) + ":"-%>
			  <%= f.text_field :login -%>
		  </li>
		  <li>
			  <%= f.label :name, t(:name) + ":"-%>
			  <%= f.text_field :name -%>
		  </li>
		  <li>
			  <%= f.label :email, t(:email) + ":"-%>
			  <%= f.text_field :email -%>
		  </li>
		  <li>
			  <%= f.label :password, t(:password) + ":" -%>
			  <%= f.password_field :password -%>
		  </li>
		  <li>
			  <%= f.label :password_confirmation, t(:password_confirmation) + ":" -%>
			  <%= f.password_field :password_confirmation -%>
		  </li>
      <li>
        <%= f.label :user_type, t(:user_type) + ":" -%>
        <%= f.select :user_type, [[t(:player), '3'], [t(:master), '2']], {:include_blank => t(:_select_)} -%>
      </li>
      <li>
        <%= submit_tag t(:to_signup) -%>
      </li>
    </ul>
	<% end -%>
</div>
