<div id="header">
  <div id="logo">
    <%= link_to "AdventureCodex", root_path(:locale => params[:locale]) -%>
  </div>
  <div id="login">
    <%= render :partial => "user_sessions/#{current_user ? 'signout' : 'signin'}" %>
  </div>
  <div id="desc">
    <span><%= t(:header_text) -%></span>
  </div>
  <div id="locale">
    <% link_to root_path(:locale => :pt) do -%>
      <%= image_tag 'br-flag.gif', :border => 0 -%>
    <% end -%>
    <% link_to root_path(:locale => :en) do -%>
      <%= image_tag 'en-flag.gif', :border => 0 -%>
    <% end -%>
  </div>
</div>