<%# coding: utf-8 %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= t(:site_title) %></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= csrf_meta_tag %>

    <!-- Application Includes -->
		<%= stylesheet_link_tag 'application' %>
	</head>
	<body>
		<div id="container">
      <%= render :partial => 'layouts/partials/header' %>
			<div id="body">
				<div id="menu">
          <%= render_navigation :expand_all => true %>
				</div>

				<div id="content">
					<%= yield  %>
				</div>
			</div>
			<%= render :partial => 'layouts/partials/footer' %>
		</div>
		<%= javascript_tag "alert('#{flash[:error]}')" unless(flash[:error].nil?)  %>
    <%= javascript_include_tag 'application' %>
	</body>
</html>
